= simple_form_for(@show) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :date, :as => :string
    = f.input :time, :ampm => true
    = f.input :venue
    = f.input :city

  .form-actions
    = f.button :submit
